{% extends 'base.html' %}
{% load static %}

<!--подключение скриптов на страницу-->
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'js/tr.js' %}"></script>
{% endblock %}

<!--заголовок страницы-->
{% block title %}
    ФБУЗ "Центр гигиены и эпидемиологии в Магаданской области"
{% endblock %}

<!--контент страницы-->
{% block content %}
    <!--    всплывающие сообщения-->
    {% for message in messages %}
        {{message}}
    {% endfor %}
<!-- полнотекстовый поиск -->
    {% include 'includes/fulltext_search.html' %}
<!--    вкладки на главной-->
    <div class="tabs">
        <input type="radio" name="inset" value="" id="tab_1" checked>
        <label for="tab_1">Ваши экспертизы</label>
        <input type="radio" name="inset" value="" id="tab_2">
        <label for="tab_2">Все экспертизы</label>
        <div id="table1" class="table1">
            {% include 'includes/table.html' with expertises=your_expertises %}
            <!-- {% include 'includes/pagination.html' with page=page_obj_your %} -->
        </div>
        <div id="table2">
            {% include 'includes/table.html' with expertises=all_expertises %}
        </div>
    </div>
{% endblock %}
